namespace: master-k8s-prod
images:
  api:
    repository: ghcr.io/kickoffqi/master-k8s-api
    tag: v0.3.0
    pullPolicy: IfNotPresent
  frontend:
    repository: ghcr.io/kickoffqi/master-k8s-frontend
    tag: v0.3.0
    pullPolicy: IfNotPresent
replicaCount:
  api: 1
  frontend: 1
ingress:
  enabled: true
  className: nginx
  host: master.local
api:
  corsAllowOrigins: '*'
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: '1'
      memory: 1Gi
frontend:
  publicApiBaseUrl: /api
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: '1'
      memory: 1Gi
rollouts:
  enabled: true
  canarySteps:
  - setWeight: 20
  - pause:
      duration: 60s
  - setWeight: 50
  - pause:
      duration: 60s
  - setWeight: 100
