namespace: master-k8s
images:
  api:
    repository: ghcr.io/kickoffqi/master-k8s-api
    tag: sha-4089ee0
    pullPolicy: IfNotPresent
  frontend:
    repository: ghcr.io/kickoffqi/master-k8s-frontend
    tag: sha-798ffcc
    pullPolicy: IfNotPresent
replicaCount:
  api: 1
  frontend: 1
ingress:
  enabled: true
  className: nginx
  host: dev.master.local
api:
  corsAllowOrigins: "*"
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
frontend:
  publicApiBaseUrl: "/api"
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
rollouts:
  enabled: true
  # Canary strategy example: 20% -> 50% -> 100%
  canarySteps:
  - setWeight: 20
  - pause: {duration: 30s}
  - setWeight: 50
  - pause: {duration: 30s}
  - setWeight: 100
