name: Build Frontend image

on:
  pull_request:
    branches: [main]
    paths:
      - "apps/frontend/**"
      - ".github/workflows/docker-frontend.yaml"

jobs:
  frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/master-k8s-frontend
          tags: |
            type=sha
            type=ref,event=tag
            type=raw,value=dev,enable={{is_default_branch}}
      - uses: docker/build-push-action@v5
        with:
          context: ./apps/frontend
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
